  
  .image {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    margin-right: 15px; /* Adjust the margin to your preference */
  }
 
  
  /* Additional styling based on your description */
  h1 {
    margin-bottom: 3px;
  }
  
  h2 {
    margin-bottom: 3px;
  }
  
  .variable-container {
    display: flex;
    justify-content: space-between; /* Distribute the variables evenly */
  }
  